<h1>New Post</h1>

<form action="/posts" method="post">
  <div class="">
    <input name="title" type="text" placeholder="Title">
  </div>
  <div class="">
    <input name="price" type="text" placeholder="Price">
  </div>
  <div class="">
    <textarea name="description" placeholder="Description"></textarea>
  </div>
  <div class="">
    <input name="location" type="text" placeholder="Location">
  </div>
  <button type="submit" name="button">Submit</button>
</form>
